/*-----------------------------
             Home 
 ------------------------------*/

 #home {
    height: 100vh; 
    width: 100%;
}

#home h1 {
    padding-bottom: 2.5rem;
}

.jumbotron-fluid {
    background: linear-gradient(#fff 20%, transparent 20%, transparent 80%, #fff 80%), url(../images/derek-oyen-4ReskwNsh68-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#home .row {
    clip-path: unset;
    -webkit-clip-path: unset;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(24, 57, 98, .75);    
}

#home .row {
    height: 75%;
}

.home-promo {
    background-color: rgba(231, 235, 239, .8);
    text-align: center;
    padding: 1.5rem 1.5rem;
}


@media (min-width: 576px) {
    #home .row {
        text-align: left;
        background-color: transparent;    
    }
        
    #home .row::before {
        content: "";
        clip-path: polygon(0 0, 50% 0, 55% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 50% 0, 55% 100%, 0% 100%);
        background-color: rgba(24, 57, 98, .75);    
        position: absolute;
        left: 0;
        width: 100%;
        height: 75%;
        margin: auto 15px;
    }

    .home-container {
        padding-left: 3rem;
    }

    .home-promo-mobile {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1199.98px) {
    #home {
        height: 100vh;
    }
}

@media (min-width: 767.98px) and (orientation: portrait) {
    #home {
        height: 65vh;
    }
}

@media (max-width: 991.98px) {
    #home {
        height: 75vh;
    }
}

@media (max-width: 767.98px) {
    #home {
        height: 65vh;
    }

    #home .row::before {
        clip-path: polygon(0 0, 45% 0, 50% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 45% 0, 50% 100%, 0% 100%); 
    }

    .home-container {
        padding-right: 1.5rem;
    }
}

@media (max-width: 575.98px) {
    #home {
        height: auto;
        padding-bottom: 9rem;
    }

    #home .jumbotron-fluid {
        margin-top: 6.5rem;
        margin-bottom: 3rem;
    }

    #home .row {
        background-color: transparent;
    }    

    .home-container {
        padding: 5rem 2.5rem;
        background-color: rgba(24, 57, 98, .75);   
        margin: 0 15px;     
    }

    .home-promo-container {
        margin-top: 3rem;
    }

    .home-promo {
        background-color: #E7EBEF;
    }

    .home-promo-container {
        display: none;
        visibility: hidden;
    }
    
}


/*-----------------------------
            Services 
 ------------------------------*/

#services {
    text-align: center;
}

.therapy-title-container, .therapy-items-container, .therapy-items, .therapy, .services-promo-box-container {
    display: flex;
}

.therapy-title-container {
    background-color: #E7EBEF;
    padding: 1.5rem; 
    justify-content: center;    
}

.therapy-title p {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.therapy-items {
    flex-wrap: wrap;
}

.therapy {    
    background-color: #E7EBEF;        
    margin: auto;
    width: 30%;
    color: #E7EBEF;
    padding: 1rem;
}

.therapy:hover {
    text-decoration: none;
    background-color: #fff;
    transition: .2s;
    outline: 2px solid #E7EBEF;
}

.therapy-items .therapy div {
    margin: auto;
    color: #454647;
}

.therapy-items h4 {
    margin-bottom: 0;
}

.therapy-items i {
    font-size: 2.3rem;
    padding-bottom: 1rem;
}

.diagonal-stripes-row {
    display: flex;
    width: 100%;
}

.diagonal-stripes {       
    background-image: repeating-linear-gradient(127deg, #fff -1px, #2f4c71 0px, #2f4c71 3px , transparent 4px, transparent 21px);
    padding: 3rem;
    width: 100%;
    z-index: 0;
    border: 1px solid #fff;
}

.diagonal-stripes::before {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.services-promo-box-container {
    height: 100%;
    width: 100%;
}

.services-promo-box {
    background-color: #621839;
    color: #ffffff;
    padding: 1.5rem 1.5rem;
    width: 100%;  
    margin: auto; 
}

.services-promo-box:hover {
    transition: .2s;
    background-color: #fff;
    outline: 1px solid #621839;
    color: #621839;
    text-decoration: none;
}

.services-promo-box p {
    margin-bottom: unset;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .diagonal-stripes::before {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 37% 100%);
        -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 37% 100%);
    }

}

@media (max-width: 991.98px) {
    .diagonal-stripes::before {
        clip-path: polygon(51% 0, 100% 0, 100% 100%, 37% 100%);
        -webkit-clip-path: polygon(51% 0, 100% 0, 100% 100%, 37% 100%);
    }
}

@media (max-width: 767.98px) {
    .diagonal-stripes::before {
        clip-path: polygon(52% 0, 100% 0, 100% 100%, 37% 100%);
        -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 37% 100%);
    }

    .therapy-title p {
        margin-top: 1rem;
    }
}

@media (min-width: 576px) {
    .services-promo-box {
        width: 45%;
    }
}

@media (max-width: 575.98px) {
    .therapy-title-container {
        background: linear-gradient(90deg, #E7EBEF 50%, transparent 50%); 
        padding: 3rem 4rem;     
    }

    .therapy-title-container::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 50%;
        background-color: #E7EBEF;
        top: -40px;
        left: 0;
        clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
    }

    .therapy-items-container {
        background-color: #E7EBEF;
    }

    .therapy {
        border: 2px solid #fff;
        padding: .5rem;
    }

    .therapy-items i {
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }

    .diagonal-stripes::before {
        clip-path: polygon(55% 0, 100% 0, 100% 100%, 33% 100%);
        -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 33% 100%);
    }
}


/*-----------------------------
            Cosmetics 
 ------------------------------*/

#cosmetics h3 {
    margin: 0;
}

.cosmetics-container {
    background-color: #E7EBEF;
    position: relative;
}

.cosmetics-container::before {
    clip-path: polygon(0 99%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 99%, 100% 0, 100% 100%, 0 100%);
    content: "";
    position: absolute;
    top: calc(100% - 10rem + 1px) ;
    left: 0;
    height: 10rem;
    width: 100%;
    background-color: #fff;
}

.cosmetics-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contouring-image-container{
    display: flex;
}

.contouring-image {
    width: 100%;
    height: auto;  
    margin: auto  
}

.contouring img {
    width: 100%;   
    clip-path: polygon(0 0, 98% 7%, 94% 92%, 5% 100%);
    -webkit-clip-path: polygon(0 0, 98% 7%, 94% 92%, 5% 100%);
}

.contouring {
    padding: 2rem 0;
}

.contouring-info div div {
    margin: 1rem 0;
}

#cosmetics .btn {
    padding: .6rem 1.5rem;
    width: 50%;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (max-width: 575.98px) {
    #cosmetics {
        text-align: center;      
    }

    .contouring-image-container {
        display: none;
        visibility: hidden;
    }    

    .contouring-info {
        padding-top: 0;
    }

    #cosmetics .btn {
        width: 55%;
    }
}



/*-----------------------------
            Therapists 
 ------------------------------*/

#therapists {
    background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 43%, transparent 43%);
}

.therapist h4, .therapist p {
    padding: 0 2rem;
}

.therapist div {
    width: 15.6rem;
    height: 15.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

}

.owl-prev {
    left: calc((100% - 1140px) / 2);
    position: absolute;
    top: 7rem;
}

.owl-next {
    position: absolute;
    left: calc(((100% - 1140px) / 2) + 1140px - 1.1rem);
    top: 7rem;
}

.owl-prev i, .owl-next i {
    font-size: 2.2rem;
    color: #454647;
}

.shane {
    background-image: url("../images/Shane1.jpg");
}

.gonzalo {
    background-image: url("../images/gonzalo1.jpg");
}

.shelby {
    background-image: url("../images/shelby.jpg");
}

.jazmyn {
    background-image: url("../images/Jazmyn.jpg");
}

.arneka {
    background-image: url("../images/arneka.jpg");
}

.alexandria {
    background-image: url("../images/alexandria.jpg");
}

@media (max-width: 1199.98px) {
    #therapists {
        background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 40%, transparent 40%);
    }    

    .owl-prev {
        left: calc((100% - 960px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 960px) / 2) + 960px - 1.1rem);
        top: 7rem;
    }
}

@media (max-width: 991.98px) {
    #therapists {
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 47%, transparent 47%);
    }

    .owl-prev {
        left: calc((100% - 720px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 720px) / 2) + 720px - 1.1rem);
        top: 7rem;
    }

}

@media (max-width: 767.98px) {
    #therapists {
        background: linear-gradient(transparent 26%, #E7EBEF 26%, #E7EBEF 45%, transparent 45%);
    }

    .owl-prev {
        left: calc((100% - 540px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 540px) / 2) + 540px - 1.1rem);
        top: 7rem;
    }
}

@media (max-width: 575.98px) {
    #therapists {
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 48%, transparent 48%);
    }

    .owl-prev {
        left: 2.2rem;
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(100% - 2.2rem);
        top: 7rem;
    }
}



/*-----------------------------
            Reviews 
 ------------------------------*/

 .reviews-padding {
    padding-top: 5rem;
}

#reviews {
    height: 100%;
    padding-top: 3rem;
    position: relative;
    background-color: #E7EBEF;
}

.fred {
    height: 100%;
    width: 100%;
}

#reviews .fred iframe {
    min-height: 0 !important;
    height: 360px !important;
}

@media (max-width: 575.98px) {
    .fred {
        height: 420px;
    }

    #reviews .fred iframe {
        min-height: 0 !important;
        height: 400px !important;
    }
}



/*-----------------------------
            Contact 
 ------------------------------*/

#contact {
    position: relative;
}

#contact h3, .contact-info div a, #contact p {
    color: #fff;
}

#contact a {
    text-transform: none;
}

#contact a:hover {
    text-decoration: none;
}

#map {
    width: 100%;
    height: 500px;
}

#contact a, #contact i {
    font-size: 1.15rem;
}

.map-info-container {
    position: absolute;
    top:0;
    height: 100%;
    display: flex;
}

.map-info {
    background-color: rgba(24, 57, 98, .9);
    margin: auto 0;
    display: flex;
    padding: 1.5rem 2.5rem;
}

.contact-info {
    display: flex;
    min-height: 4.5rem;
}

.contact-info:last-child {
    padding-bottom: 0;
}

.contact-info div {
    margin-top: auto;
    margin-bottom: auto;
}

.contact-info div a:hover {
    color: #621839;
}

.icon {
    width: 2.5rem;    
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    margin: auto 1.5rem auto 0;
    color: #183962;
}

.icon-anchor:hover {
    background-color: #621839;
    color: #fff;
}

.icon i {
    margin: auto;
}


@media (max-width: 767.98px) {
    #map {
        height: 420px;
    }
}

@media (max-width: 575.98px) {
    #map {
        height: 575px;
    }

    .map-info-container {
        display: block;
        height: unset;
        bottom: 15px;
        top: unset;
    }

    .map-info {
        background-color: rgba(24, 57, 98, .9);
        margin: auto 0;
        display: flex;
        padding: 1.5rem 1.5rem;
    }
    

    .contact-info {
        min-height: 4rem;
    }
}
