/*-----------------------------
             Home 
 ------------------------------*/

 #home {
    height: 100vh; 
    width: 100%;
    display: flex;
}

.jumbotron-fluid {
    background: linear-gradient(#fff 20%, transparent 20%, transparent 80%, #fff 80%), url(../images/derek-oyen-4ReskwNsh68-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#home .row {
    background-color: rgba(24, 57, 98, .9);
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0% 100%);
    height: 75%;
}

#home h1 {
    padding-bottom: 3.2rem;
}


@media (max-width: 1199.98px) {
    #home {
        font-size: 14.5px;
    }
}

@media (max-width: 991.98px) {
    #home .row {
        background-color: rgba(24, 57, 98, .75);
        clip-path: unset;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .home-container {
        padding-left: 3rem;
    }
}

@media (max-width: 767.98px) {
    #home {
        height: 80vh;
    }
}

@media (max-width: 575.98px) {
    #home .row {
        width: 95%;
    }    

    .home-container {
        padding: 0 2.5rem;
    }
}


/*-----------------------------
            Services 
 ------------------------------*/

#services {
    text-align: center;
    padding-bottom: 5rem;
}

.therapy-title-container, .therapy-items {
    justify-content: center;
}

.therapy-title-container, .therapy-items-container, .therapy-items, .therapy, .promo-box-container {
    display: flex;
}

.therapy-title-container {
    background-color: #E7EBEF;
    height: 100%;
    padding-top: 5rem;
}

.therapy-title {
    margin: 0 3rem;
}

.therapy-title p {
    margin-top: 2.9rem;
    font-size: 1.2rem;
}

.therapy-items {
    flex-wrap: wrap;
}

.therapy {    
    background-color: #E7EBEF;        
    margin: 0 auto;
    width: 30%;
    color: #E7EBEF;
}

.therapy:hover {
    text-decoration: none;
    background-color: #fff;
    transition: .2s;
    border: 2px solid #E7EBEF;
}

.therapy-items .therapy div {
    margin: auto;
    color: #454647;
}

.therapy-items i {
    font-size: 2.3rem;
    padding-bottom: 20px;
}

.diagonal-stripes-row{
    position: relative;
    width: 100%;
}

.diagonal-stripes {
    margin: 15px;    
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    background-image: repeating-linear-gradient(135deg, #2f4c71, #2f4c71 8px , transparent 8px, transparent 22px);
}

.promo-box-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.promo-wrap {
    height: auto;
    width: 100%;
    display: flex;
}

.promo-box {
    background-color: #621839;
    color: #ffffff;
    padding: 1rem 1.5rem;
    width: 60%;  
    margin: auto; 
}

.promo-box:hover {
    transition: .2s;
    background-color: #fff;
    border: 2px solid #183962;
    color: #183962;
    text-decoration: none;
}

.promo-box p {
    margin-bottom: unset;
    font-size: 1.2rem;
}

@media (max-width: 991.98px) {
    .therapy-title {
        margin: 0 2rem;
    }    
}

@media (max-width: 575.98px) {
    #services .padding {
        padding-top: 0;
    }

    #services .container-sm .row {
        margin-left: 0;
        margin-right: 0;
    }

    .therapy-title-container {
        background: linear-gradient(90deg, #E7EBEF 50%, transparent 50%);
        padding: 2.5rem;        
    }

    .therapy-title-container::before {
        content: "";
        position: absolute;
        height: 40px;
        width: 50%;
        background-color: #E7EBEF;
        top: -40px;
        left: 0;
        clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
    }

    .therapy-title {
        margin: 0 4rem;
    }   

    .therapy-items-container {
        background-color: #E7EBEF;
    }

    .therapy-items {
        margin: 5px; 
    }

    .therapy {
        border: 2px solid #fff;
    }

    .diagonal-stripes {
        margin: 0;
    }
}


/*-----------------------------
            Cosmetics 
 ------------------------------*/

.cosmetics-container {
    position: relative;

}

.cosmetics-mask {
    height: 100%;
    width: 100%;
    background-color: #E7EBEF;
    clip-path: polygon(0 10%, 100% 10%, 100% 58%, 0 88%);
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 58%, 0 88%);

}

.cosmetics-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.contouring-image {
    width: 100%;
    padding: 0 20px;
    height: auto;    
}

.contouring img {
    width: 100%;   
    clip-path: polygon(0 0, 100% 6%, 95% 84%, 5% 98%);
    -webkit-clip-path: polygon(0 0, 100% 6%, 95% 84%, 5% 98%);
}

.contouring {
    padding: 2rem 0;
}

.contouring-info {
    padding-top: 1.5rem;
}

#cosmetics .btn {
    padding: .6rem 1.5rem;
    width: 60%;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .cosmetics-mask {        
        clip-path: polygon(0 10%, 100% 10%, 100% 53%, 0 81%);
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 53%, 0 81%);
    }
}

@media (max-width: 575.98px) {
    #cosmetics {
        text-align: center;      
    }

    .cosmetics-mask {        
        clip-path: polygon(0 13%, 100% 13%, 100% 53%, 0 81%);
        -webkit-clip-path: polygon(0 13%, 100% 13%, 100% 53%, 0 81%);
    }

    .contouring-image-container {
        display: none;
        visibility: hidden;
    }    

    .contouring-info {
        padding-top: 0;
    }

    .contouring-info p {
        padding: 0 2.5em;
    }
}

/* .esthetician {
    background-image: linear-gradient(rgba(24, 57, 98, .8), rgba(24, 57, 98, .8)), url("/images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
    padding: 3rem 0;
    color: #fff;
}

.esthetician div  h4 {
    color: #fff;
}

.promo-box2 {
    border: 3px solid #fff;
} 

.esthetician .btn {
    color: #183962;
    background-color: #fff;
    border-color: #183962;
}

.esthetician .btn:hover {
    background-color: #183962;
    color: #fff;
    border-color: #fff;
} */



/*-----------------------------
            Therapists 
 ------------------------------*/

#therapists {
    background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 43%, transparent 43%);
}

.therapist h4, .therapist p {
    padding: 0 2rem;
}

.therapist div {
    width: 15.6rem;
    height: 15.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

}

.owl-prev {
    left: calc((100% - 1140px) / 2);
    position: absolute;
    top: 7rem;
}

.owl-next {
    position: absolute;
    left: calc(((100% - 1140px) / 2) + 1140px - 1.1rem);
    top: 7rem;
}

.owl-prev i, .owl-next i {
    font-size: 2.2rem;
    color: #454647;
}

.shane {
    background-image: url("../images/Shane1.jpg");
}

.gonzalo {
    background-image: url("../images/gonzalo1.jpg");
}

.shelby {
    background-image: url("../images/shelby.jpg");
}

.jazmyn {
    background-image: url("../images/Jazmyn.jpg");
}

.arneka {
    background-image: url("../images/arneka.jpg");
}

.alexandria {
    background-image: url("../images/alexandria.jpg");
}

@media (max-width: 1199.98px) {
    #therapists {
        background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 40%, transparent 40%);
    }    

    .owl-prev {
        left: calc((100% - 960px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 960px) / 2) + 960px - 1.1rem);
        top: 7rem;
    }
}

@media (max-width: 991.98px) {
    #therapists {
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 47%, transparent 47%);
    }

    .owl-prev {
        left: calc((100% - 720px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 720px) / 2) + 720px - 1.1rem);
        top: 7rem;
    }

}

@media (max-width: 767.98px) {
    #therapists {
        background: linear-gradient(transparent 26%, #E7EBEF 26%, #E7EBEF 45%, transparent 45%);
    }

    .owl-prev {
        left: calc((100% - 540px) / 2);
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(((100% - 540px) / 2) + 540px - 1.1rem);
        top: 7rem;
    }
}

@media (max-width: 575.98px) {
    #therapists {
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 48%, transparent 48%);
    }

    .owl-prev {
        left: 2.2rem;
        position: absolute;
        top: 7rem;
    }
    
    .owl-next {
        position: absolute;
        left: calc(100% - 2.2rem);
        top: 7rem;
    }
}



/*-----------------------------
            Contact 
 ------------------------------*/

.contact-padding {
    padding-top: 5rem;
}

#contact {
    position: relative;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 500px;
}

#contact h4 {
    font-size: 1.3em;
}

#contact p {
    line-height: 1.5em;
    font-size: 1em;
}

.map-info-container {
    position: absolute;
    top:0;
    right: calc((100% - 1140px) / 2);
    height: 100%;
    display: flex;
}

.map-info {
    background-color: rgba(24, 57, 98, .9);
    margin: auto 0;
    display: flex;
}

.map-location {
    padding-right: 1.5rem;
}

.map-contact {
    padding-top: .5rem;
}

.map-hours {
    padding-left: .5rem;
}

.map-info h4, .map-info p {
    color: #fff;
}

.map-location p:last-child {
    margin-bottom: 0;
}

@media (max-width: 1199.98px) {
    #contact {
        font-size: 14px;
    }

    .map-info-container {
        right: calc((100% - 960px) / 2);
    }    
}

@media (max-width: 991.98px) {
    #contact {
        font-size: 13px;
    }

    #map {
        height: 400px;
    }

    .map-info-container {
        right: calc((100% - 720px) / 4);
    }  
}

@media (max-width: 767.98px) {
    #contact {
        font-size: 12px;
    }

    #map {
        height: 450px;
    }

    .map-info-container {
        height: unset;
        top: unset;
        bottom: 20px;
        right: 0;  
        width: fit-content;    
    }

    .map-info {
        margin: 0 auto;
    }    
}

@media (max-width: 575.98px) {
    #contact {
        font-size: 11px;        
    }
}



/*-----------------------------
            Reviews 
 ------------------------------*/

#reviews {
    height: 100%;
    padding-top: 5rem;
    position: relative;
    background-color: #E7EBEF;
}

#reviews::before {
    content: "";
    height: 100%;
    width: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
}

.fred {
    height: 100%;
    width: 100%;
}

#reviews .fred iframe {
    min-height: 0 !important;
    height: 400px !important;
}

@media (max-width: 575.98px) {
    .fred {
        height: 450px;
    }
}
