.padding-bottom {
    padding-bottom: 5rem;
}

ol {
    padding-left: 1.5rem;
}

ol:last-child {
    margin-bottom: 0;
}

ol li {
    list-style: disc;
    padding-left: .5rem;
}



/*-----------------------------
            Home 
 ------------------------------*/

.jumbotron-fluid {
    background: linear-gradient(#fff 25%, transparent 25%, transparent 75%, #fff 75%), url(../images/martin-balle-E2XN8sHBHSY-unsplash.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .container {
    background-color: rgba(24, 57, 98, .8);
    width: 100%;
    height: 65%;
}

.jumbotron-fluid .row .col-10 {
    height: 100%;
}



@media (max-width: 767.98px) {
    .jumbotron-fluid {
        height: 45vh;
    }
}



/*-----------------------------
            Services 
 ------------------------------*/

.services-container, .services-img-container {
    background-color: #E7EBEF;
    position: relative;
}

.services-container::before, .services-img-container::before {
    content: "";
    background-color: #fff;
    top: -1px;
    left: 0;
    position: absolute;
    height: 6.5rem;
    width: 100%;
}

.services-container::after, .services-img-container::after {
    content: "";
    background-color: #fff;
    top: calc(100% - (6.5rem - 1px));
    left: 0;
    position: absolute;
    height: 6.5rem;
    width: 100%;
}

.services-container-left::before, .services-img-container-right::before {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 10%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 10%);
}

.services-container-left::after, .services-img-container-left::after {
    clip-path: polygon(0 90%, 100% 50%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 90%, 100% 50%, 100% 100%, 0% 100%);
}

.services-container-right::before, .services-img-container-left::before {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0 50%);
}

.services-container-right::after, .services-img-container-right::after {
    clip-path: polygon(0 50%, 100% 90%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 50%, 100% 90%, 100% 100%, 0% 100%);
}

.services-z {
    z-index: 1;
}

.services-info {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.summary {
    justify-content: center;
}

.summary-info {
    background-color: #183962;
    color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.summary-info h4 {
    color: #fff;
}

.services-img-container img {
    height: auto;
    width: 275px;
}

.services-img {
    height: 200px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
}

#therapy1 .services-img-1 {
    background-image: url("../images/mara-ket-17yojkc2so4-unsplash.jpg");
}

#therapy1 .services-img-2 {
    background-image: url("../images/autumn-goodman-vTL_qy03D1I-unsplash.jpg");
}

#therapy2 .services-img-1 {
    background-image: url("../images/alex-block-3YlNd_1FVlo-unsplash.jpg");
}

#therapy2 .services-img-2 {
    background-image: url("../images/noah-buscher-eCJiD00AJqs-unsplash.jpg");
}

#therapy2 .services-img-3 {
    background-image: url("../images/anthony-tran-Sd9A6NVHsd4-unsplash.jpg");
}

#therapy2 .services-img-4 {
    background-image: url("../images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
}




.owl-prev {
    left: -2%;
    position: absolute;
    top: calc(100px - 1.1rem);
}

.owl-next {
    position: absolute;
    left: 100%;
    top: calc(100px - 1.1rem);
}

.owl-prev i, .owl-next i {
    font-size: 2.2rem;
    color: #454647;
}



@media (min-width: 576px) {
    .services-info {
        padding-top: 4rem;
    }

    .summary {
        justify-content: flex-end;
    }
}
