.border {
    border: 2px solid red !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    color: #454647;
}

h1 {
    font-size: 2.6em;
    font-weight: 700;
}

h1,h3,h4,a {
    text-transform: uppercase;
}

h1,h3 {
    color: #fff;
}

h2 {
    font-size: 1.7em;
    color: #ffffff;
}

h3 {
    font-size: 1.9em;
    font-weight: 600;
    color: #621839;
}

h4{
    font-size: 1.3em;
    color: #183962;
}

p {
    font-size: 1.15em;
    line-height: 1.9em;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.padding {
    padding: 5rem 0;
}


/*-- Navbar --*/

.navbar li a,
.navbar .btn {
    font-weight: unset !important;
    font-size: .85rem;
}

.navbar li {
    padding: 0px 9px;
}

.navbar-button {
    visibility: hidden;
} 

@media (max-width: 1200px) {
    .navbar li {
        padding: 0px 1px;
    }
}

@media (max-width: 992px) {
    .navbar-button {
        width: 50vw;
        visibility: visible;
    }

    .navbar-nav .my-auto {
        display: none;
    }
}


/*-- Button --*/

.btn {
    background-color: #621839;
    border-radius: unset;
    padding: 5px 10px;
    color: #fff;
}

.btn:hover {
    background-color: #ffffff;
    color: #621839;
    border: 1px solid #621839;
}

.btn:focus {
    box-shadow: unset;
}


/*-- Home --*/

#home {
    height: 100vh;
    background-image: url(../images/iceberg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35%;
}

#home .container {
    height: 100vh;
}

#home .row {
    width: 50%;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 57, 98, .8);
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0% 100%);
}

#home h1 {
    padding-bottom: 55px;
}

@media (max-width: 1200px) {
    #home {
        background-size: 120%;
    }
}

@media (max-width: 992px) {
    #home {
        background-size: 135%;
        background-position: center 35%;
    }

    .cover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    #home .row {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 30px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    #home {
        background-size: 155%;
    } 
}


/*-----------------------------
            Services 
 ------------------------------*/

#services {
    text-align: center;
}

.therapy-title-container, .therapy-items {
    justify-content: center;
}

.therapy-title-container, .therapy-items-container, .therapy-items, .therapy, .promo-box-container {
    display: flex;
}

.therapy-title-container {
    background-color: #E7EBEF;
    height: 100%;
    padding-top: 5em;
}

.therapy-title {
    margin: 0 3em;
}

.therapy-title p {
    margin-top: 2.9em;
    font-size: 1.2em;
}

.therapy-items {
    flex-wrap: wrap;
}

.therapy{    
    background-color: #E7EBEF;        
    margin: 0 auto;
    width: 30%;
}

.therapy-items .therapy div {
    margin: auto;
}

.therapy-items i {
    font-size: 2.3em;
    padding-bottom: 20px;
}

.diagonal-stripes-row{
    position: relative;
    width: 100%;
}

.diagonal-stripes {
    margin: 15px;    
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    background-image: repeating-linear-gradient(135deg, #621839, #621839 12px , transparent 12px, transparent 26px);
}

.promo-box-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.promo-box {
    background-color: #183962;
    color: #ffffff;
    padding: 2em;
    width: 75%;  
    margin: auto; 
}

.promo-box p {
    margin-bottom: unset;
    font-size: 1.4em;
}

@media (max-width: 1200px) {
    #services {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    #services {
        font-size: 11.5px;
    }

    .therapy-title {
        margin: 0 2em;
    }    
}

@media (max-width: 768px) {
    #services {
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    #services {
        font-size: 13px;
    }

    #services .padding {
        padding-top: 0;
    }

    #services .container-sm .row {
        margin-left: 0;
        margin-right: 0;
    }

    .padding-remove {
        padding-left: 0;
        padding-right: 0;
    }

    .therapy-title-container {
        background: linear-gradient(90deg, #E7EBEF 50%, transparent 50%);
        padding: 40px;        
    }

    .therapy-title {
        margin: 0 4em;
    }   

    .therapy-items-container {
        background-color: #E7EBEF;
    }

    .therapy-items {
        margin: 5px; 
    }

    .therapy {
        border: 2px solid #fff;
    }

    .diagonal-stripes {
        margin: 0;
    }
}



/*--- Cosmetics ---*/

.cosmetics-container {
    position: relative;

}

.cosmetics-mask {
    height: 100%;
    width: 100%;
    background-color: #E7EBEF;
    clip-path: polygon(0 26%, 100% 26%, 100% 64%, 0 94%);
}

.cosmetics-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contouring, .esthetician {
    padding: 40px 0;
}

.contouring-image-container {
    width: 100%;
    padding: 0 20px;
    height: auto;    
}

.contouring img {
    width: 100%;   
    clip-path: polygon(0 0, 100% 6%, 95% 84%, 5% 98%);
}

.contouring {
    padding: 3rem 0;
}

.esthetician {
    background-image: linear-gradient(rgba(24, 57, 98, .8), rgba(24, 57, 98, .8)), url("/images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
    padding: 3rem 0;
    color: #fff;
}

.esthetician div  h4 {
    color: #fff;
}

.promo-box2 {
    border: 3px solid #fff;
}

#cosmetics .btn {
    padding: 5px 20px;
}

.esthetician .btn {
    color: #183962;
    background-color: #fff;
    border-color: #183962;
}

.esthetician .btn:hover {
    background-color: #183962;
    color: #fff;
    border-color: #fff;
}



/*-----------------------------
            Therapists 
 ------------------------------*/

#therapists {
    background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 43%, transparent 43%);
}

.therapist h4, .therapist p {
    padding: 0 2rem;
}

.therapist div {
    width: 15.6em;
    height: 15.6em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

}

.owl-prev {
    left: 2%;
    position: absolute;
    top: 7em;
}

.owl-next {
    position: absolute;
    left: 96%;
    top: 7em;
}

.owl-prev i, .owl-next i {
    font-size: 2.2em;
    color: #454647;
}

.shane {
    background-image: url("../images/Shane1.jpg");
}

.gonzalo {
    background-image: url("../images/gonzalo1.jpg");
}

.shelby {
    background-image: url("../images/shelby.jpg");
}

.jazmyn {
    background-image: url("../images/Jazmyn.jpg");
}

.arneka {
    background-image: url("../images/arneka.jpg");
}

.alexandria {
    background-image: url("../images/alexandria.jpg");
}

@media (max-width: 1200px) {
    #therapists {
        font-size: 14px;
        background: linear-gradient(transparent 23%, #E7EBEF 23%, #E7EBEF 40%, transparent 40%);
    }
}

@media (max-width: 992px) {
    #therapists {
        font-size: 11.5px;
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 47%, transparent 47%);
    }
}

@media (max-width: 768px) {
    #therapists {
        font-size: 9px;
        background: linear-gradient(transparent 26%, #E7EBEF 26%, #E7EBEF 45%, transparent 45%);
    }
}

@media (max-width: 576px) {
    #therapists {
        font-size: 13px;
        background: linear-gradient(transparent 25%, #E7EBEF 25%, #E7EBEF 48%, transparent 48%);
    }
}


/* --- Contact --- */

#contact {
    position: relative;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 500px;
}

#contact h4 {
    font-size: 1.3em;
}

#contact p {
    line-height: 1.5rem;
    font-size: 1em;
}

.map-info-container {
    position: absolute;
    top:0;
    left: 20px;
    height: 100%;
    display: flex;
}

.map-info {
    background-color: rgba(24, 57, 98, .9);
    margin: auto 0;
    display: flex;
}

.map-location {
    padding-right: 1.5rem;
}

.map-contact {
    padding-top: .5rem;
}

.map-hours {
    padding-left: .5rem;
}

.map-info h4, .map-info p {
    color: #fff;
}

.map-location p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .map-info-container {
        height: unset;
        top: 300px;
        width: 100%;
        left: 0;
    }

    .map-info {
        margin: 0 auto;
    }    
}



/* --- Reviews --- */

#reviews {
    padding: 80px 0;
}

.fred {
    height: 300px;
    width: 100%;
}

.footer {
    height: 130px;
    background-color: rgb(6, 18, 26);
}

@media (max-width: 768px) {
    #reviews {
        padding-bottom: 160px;
    }
}

@media (max-width: 576px) {
    #reviews {
        padding-bottom: 180px;
    }
}