.border {
    border: 2px solid red !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    color: #454647;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

h1,h3,h4,a {
    text-transform: uppercase;
}

h1,h3 {
    color: #fff;
}

h2 {
    font-size: 1.7rem;
    color: #ffffff;
}

h3 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #621839;
}

h4{
    font-size: 1.2rem;
    color: #183962;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.padding {
    padding: 80px 0;
}


/*-- Navbar --*/

.navbar li a,
.navbar .btn {
    font-weight: unset !important;
    font-size: .85rem;
}

.navbar li {
    padding: 0px 9px;
}

.navbar-button {
    visibility: hidden;
} 

@media (max-width: 1200px) {
    .navbar li {
        padding: 0px 1px;
    }
}

@media (max-width: 992px) {
    .navbar-button {
        width: 50vw;
        visibility: visible;
    }

    .navbar-nav .my-auto {
        display: none;
    }
}


/*-- Button --*/

.btn {
    background-color: #621839;
    border-radius: unset;
    padding: 5px 10px;
    color: #fff;
}

.btn:hover {
    background-color: #ffffff;
    color: #621839;
    border: 1px solid #621839;
}

.btn:focus {
    box-shadow: unset;
}


/*-- Home --*/

#home {
    height: 112vh;
    background-image: url(../images/iceberg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 35%;
}

#home .container {
    height: 100vh;
}

#home .row {
    width: 50%;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 57, 98, .8);
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0% 100%);
}

#home h1 {
    padding-bottom: 55px;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }    

    h2 {
        font-size: 1.4rem;
    }

    #home {
        background-size: 120%;
    }
}

@media (max-width: 992px) {
    #home {
        background-size: 135%;
        background-position: center 35%;
    }

    .cover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    #home .row {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 30px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    #home {
        background-size: 155%;
    } 
}

@media (max-width: 576px) {
    #home, #home .container {
        height: 90vh;
    } 
}


/*-- Services --*/

#services .container {
    position: relative;
}

.therapy-title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    background-color: #E7EBEF;
    top: -12vh;
    position: relative;  
    margin: 0 auto;
}

.therapy-title div {
    margin: 200px 50px 0 50px;
}

.therapy-title p {
    margin-top: 100px;
    font-size: 1.2rem;
}

.therapy-items {
    padding-top: 80px;
    text-align: center;
    justify-content: center;
}

.therapy-items .box{    
    background-color: #E7EBEF;        
    margin: 15px 15px;
    height: 200px;
    width: 200px;
    display: flex;
}

.therapy-items .box div {
    margin: auto;
}

.therapy-items i {
    font-size: 45px;
    padding-bottom: 20px;
}

.promo-box-container {    
    height: 420px;    
    position: absolute;
    top: 770px;
}

.promo-box {
    background-color: #183962;
    color: #ffffff;
    padding: 20px 40px;
    height: 110px;
    width: 510px;
}

.promo-box p {
    margin-bottom: unset;
    font-size: 1.4rem;
}

.diagonal-stripes {
    margin-top: 15px;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    background-image: repeating-linear-gradient(135deg, #621839, #621839 12px , transparent 12px, transparent 26px);
}

@media (max-width: 1200px) {
    .therapy-title {
        width: 80%;
    }

    .therapy-title p {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .therapy-items .box{    
        margin: 6px 6px;
        height: 165px;
        width: 165px;
    }

    .therapy-items i {
        font-size: 33px;        
    }

    .therapy-items h4 {
        font-size: 1rem;
    }

    .promo-box-container {
        height: 339px;
        top: 620px;
    }

    .promo-box {
        width: 400px;  
        height: 95px;      
    }

    .promo-box p {
        font-size: 1.1rem;
    }

    .diagonal-stripes {
        margin-top: 6px;
    }
}

@media (max-width: 576px) {
    #services .container {
        padding: 0;
        max-width: 100%;
    }

    #services .row {
        justify-content: center;
        margin: 0;
    }

    #services .row div {
        padding: 0;
    }


    .therapy-title-container {
        width: 100%;
        background: linear-gradient(90deg, #E7EBEF 50%, transparent 50%);
        clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
        margin-bottom: -12vh;
    }

    .therapy-title {
        width: auto;
    }

    .therapy-title div {
        margin: 150px 50px 80px 50px;
    }

    .therapy-title h3 {
        font-size: 1.6rem;
    }

    .therapy-title p {
        margin-top: 50px;
    }

    .scroll-wheel-container {
        overflow: scroll hidden;
        width: 500px;
        background-color: #E7EBEF;
    }

    .scroll-wheel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 550px;
        white-space: nowrap;
    }

    .scroll-wheel .box {
        margin: 6px 0 6px 12px;
        border: 3px solid #fff;
    }

    .box:nth-child(3), .box:nth-child(6) {
        margin-right: 12px;
    }
}













.header-line {
    border-bottom: 1px solid #2B2F31;
    width: 500px;
    height: 80px;
}

.contouring-image {
    background-image: linear-gradient(rgb(0, 0, 0, .16), rgb(0, 0, 0, .16)), url("../images/remove-4559326_1920.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0, 100% 5%, 92% 90%, 8% 100%);
    -webkit-clip-path: polygon(0% 0, 100% 5%, 92% 90%, 8% 100%);
}

#contouring div .row {
    height: 400px;
}



/* #esthetician {
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    background-position: bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
} */

#esthetician {
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 88%);
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 88%);
    background-position: bottom center;
    background-size: cover;
    -webkit-background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

#esthetician h3 {
    color: #fff;
}

#esthetician div div div .btn {
    background-color: #ffffff;
    color: #1A496B;
}

#therapists div div h2 {
    margin-bottom: 40px;
}

.therapist {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.therapist-boxes div {
    margin-bottom: 30px;
}

.shane {
    background-image: url("../images/Shane1.jpg");
}

.gonzalo {
    background-image: url("../images/gonzalo1.jpg");
}

.shelby {
    background-image: url("../images/shelby.jpg");
}

.jazmyn {
    background-image: url("../images/Jazmyn.jpg");
}

.arneka {
    background-image: url("../images/arneka.jpg");
}

.alexandria {
    background-image: url("../images/alexandria.jpg");
}

#contact {
    position: relative;
}

#map {
    width: 100%;
    height: 500px;
}

.map-wrap {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: auto;
    padding: 30px;
    color: #fff;
    top: 0px;
    left: 60%;
}

@media (max-width: 1500px) {
    .map-wrap {
        left: 55%;
    }
}

@media (max-width: 1300px) {
    .map-wrap {
        left: 50%;
    }
}

@media (max-width: 1200px) {
    .map-wrap {
        left: 45%;
    }
}

.overbox {
    background-color: #1A496B;
    padding: 30px;
    float: left;
}

.overbox div:nth-child(1) {
    float: right;
    margin-left: 50px;
}

.overbox div:nth-child(2) {
    float: left;
    margin-bottom: 25px;
}

.overbox div:nth-child(3) p:nth-child(3) {
    margin-bottom: unset !important;
}

#reviews {
    height: 500px;
}

.fred {
    height: 300px;
    width: 100%;
}

.footer {
    height: 130px;
    background-color: rgb(6, 18, 26);
}