body {
    font-family: 'Montserrat' !important;
    color: #2B2F31;
    margin: 0px;
}

/* .background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.55) 30%, rgba(255, 255, 255, 1)), url("../images/iceberg.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center top;
} */

/* .background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, .8), rgba(255, 255, 255, 1)), url("../images/iceberg.jpg");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    background-position: center top;
} */

.navbar {
    height: 80px;
    /* background-color: #ffffff; */
}

/* #home {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, .4)), url("../images/iceberg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 27%;
} */

#home {
    height: 100vh;
    background-image: linear-gradient(201deg, transparent 81%, #fff 0%), linear-gradient(165deg, transparent 75%, #fff 0%), url(../images/iceberg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 27%;
}


.padding {
    padding: 80px 0;
}

.services_boxes div div {
    height: 300px;
    background-color: white;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #1A496B;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #1A496B;
}

h3 {
    font-size: 1.7rem;
    color: #1A496B;
}

p {
    font-size: 1.2rem;
}


ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.card-body {
    padding: 30px;
}

.card {
    width: 550px;
    border-radius: 0%;
    color: #ffffff;
    background-color: #1A496B;
    border: none;
}

.card-link {
    color: #ffffff;
    font-size: 1.2rem;
}

.card-link:hover {
    color: #72CCE7;
}

.card-body ul li:first-child {
    margin-bottom: 12px;
}

.card-title {
    margin-bottom: 20px;
}

.services_boxes div div {
    background-color: unset;
    height: 200px;
}

div div i {
    font-size: 50px;
    padding-bottom: 20px;
}

.header-line {
    border-bottom: 1px solid #2B2F31;
    width: 500px;
    height: 80px;
}

.contouring-image {
    background-image: linear-gradient(rgb(0, 0, 0, .16), rgb(0, 0, 0, .16)), url("../images/remove-4559326_1920.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0, 100% 5%, 92% 90%, 8% 100%);
    -webkit-clip-path: polygon(0% 0, 100% 5%, 92% 90%, 8% 100%);
}

#contouring div .row {
    height: 400px;
}

.btn {
    background-color: #1A496B;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 5px 30px;
}

/* #esthetician {
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    background-position: bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
} */

#esthetician {
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    background-position: bottom center;
    background-size: cover;
    -webkit-background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

#esthetician div div div .btn {
    background-color: #ffffff;
    color: #1A496B;
}

#therapists div div h2 {
    margin-bottom: 40px;
}

.therapist {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.therapist-boxes div {
    margin-bottom: 30px;
}

.shane {
    background-image: url("../images/Shane1.jpg");
}

.gonzalo {
    background-image: url("../images/gonzalo1.jpg");
}

.shelby {
    background-image: url("../images/shelby.jpg");
}

.jazmyn {
    background-image: url("../images/Jazmyn.jpg");
}

.arneka {
    background-image: url("../images/arneka.jpg");
}

.alexandria {
    background-image: url("../images/alexandria.jpg");
}

#contact {
    position: relative;
}

#map {
    width: 100%;
    height: 500px;
    background-color: gray;
}

.overbox {
    background-color: #1A496B;
    position: absolute;
    top: 80px;
    left: 1000px;
    z-index: 99;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    float: left;
    padding: 15px;
    color: #fff;
}

.overbox div {
    margin: 30px;
}

.overbox div:nth-child(1) {
    float: right;
}

.overbox div:nth-child(2) {
    float: left;
}

#reviews {
    height: 400px;
    background-color: #D8DDE1;
}

#reviews::before {
    transform: skewY();
}

.fred {
    height: 300px;
    width: 100%;
}

.fred iframe html body {
    font-family: 'Montserrat' !important;
}

.fred iframe html body div div div div div h4 {
    font-weight: 400;
}

.frederick-widget-reviews hr {
    border-top: none;
}

.frederick-widget-reviews .reviews-footer .powered-by {
    text-align: center;
}